@import "tailwindcss";

:root {
  --background: hsla(0, 0%, 0%);
  --foreground: hsla(0, 0%, 100%);
  --popover: hsla(0,0%, 3%);
  --secondary: hsla(0,0%, 11%);
  --accent: hsla(0,0%, 6%);
  --muted: hsla(0,0%, 60%);
}

@theme inline {
  --radius-lg: 1.5rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-popover: var(--popover);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
}

body {
  background: var(--background);
  color: var(--foreground);
}
